<header class = "navbar navbar-fixed-top navbar-inverse" id = "header">
  <div class = "container">
    <%= image_tag('vl_192.png', alt: 'Voltrace Logo', id: 'bird_logo', class: 'navbar-brand') %>
    <%= link_to 'Voltrace', '#', id: 'logoheader', class: 'navbar-brand prop' %>
    <nav>
      <div class="dropdown">
        <div class = "glyphicon glyphicon-align-justify dropbtn" id = "menu" onclick = "show()"></div>
        <div id="vDropdown" class="dropdown-content dropdown-menu-right">
          <%= link_to 'Home', root_path %>
          <%= link_to 'Contact Us', contact_us_path %>
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right" id ="topNav">
        <li><%= link_to '',   root_path, class: 'glyphicon glyphicon-home' %></li>
        <li><%= link_to 'Contact Us', contact_us_path %></li>
      </ul>
    </nav>
  </div>
</header>