<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= render 'layouts/shim' %>

</head>

  <body onload="startLoop(); resizeAll()" onresize="startLoop(); resizeAll()">
    <%= render 'layouts/header'%>
    <div class = "holder">
      <%= image_tag("voltrace_logo.png", alt: "Voltrace Logo", id: "logo")%>
    </div>
    <div id = 'yield'>
      <%= yield() %>
    </div>
    <%= render 'layouts/footer'%>
    <%= yield(:scripts) %>
  </body>
</html>

<% content_for :scripts %>
<%= javascript_tag do %>
    startLoop();
    resizeAll();
<% end %>
